<p id="notice"><%= notice %></p>

<h1>Packages</h1>

<table>
  <thead>
    <tr>
      <th>Tracking number</th>
      <th>Delivery status</th>
      <th>Courier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @packages.each do |package| %>
      <tr>
        <td><%= package.tracking_number %></td>
        <td><%= package.delivery_status %></td>
        <td><%= package.courier_name %></td>
        <td><%= link_to 'Show', package %></td>
        <td><%= link_to 'Edit', edit_package_path(package) %></td>
        <td><%= link_to 'Destroy', package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


